@import "src/_variables.scss";

nav {
    a {
        text-decoration: none;
        margin-right: 1rem;
        color: $textColor;

        &:visited {
            color: $textColor;
        }
    }

    .active {
        border-bottom: 1px solid #f2f2f2;
    }
}
